*
!butanuki-api/src/
!butanuki-api/package*.json
!butanuki-api/tsconfig.*
!butanuki-api/nest-cli*.json


!butanuki-front/src
!butanuki-front/public
!butanuki-front/package*.json
!butanuki-front/tsconfig.*
!butanuki-front/index.html
!butanuki-front/vite.config.ts
