body {
    font: 16px -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.lh-savings p {
    line-height: 1.75rem;
}

a {
    background-color: transparent;
    text-decoration: underline dotted;
    color: #4a4;
}

a:hover:not(.btn) {
    background-color: transparent;
    text-decoration: underline dotted;
    color: #4a4;
}
footer a {
    text-decoration: none;
}

footer a:hover {
    opacity: 0.8;
    text-decoration: underline dotted;
}


.nav {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ebeaeb;
    top: 0;
    position: fixed;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ebeaeb;
    top: 0;
    position: fixed;
    z-index: 3;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000;
}

.nav > .nav-links > a:hover {
    color: #4a4;
    text-decoration: underline dotted;
}

.nav > #nav-check {
    display: none;
}

.nav-title {
    color: #f90;
    font-weight: bold;
}

.nav-title a {
    color: #f90;
    text-decoration: none;
}

.nav-title a:hover {
    color: #f90;
    text-decoration: underline dotted;
}

@media(max-width: 640px){
    .nav-title img {
        width: 124px;
        height: auto;
    }
}

@media(max-width: 400px){
    .nav-title img {
        width: 100px;
        height: auto;
    }
}

.heading-bitcoin{
    font-weight: 600;
    /*font-size: 36px;*/
    color: #ff9900;
    margin: 5px 0;
}
.estimatorResult {
    line-height: 1.75;
}

.estimatorResult input, .estimatorResult select {
    display: inline-block;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    vertical-align: middle;
}

.estimatorResult input {
    text-align: center;
}

.estimatorResult input:active, .estimatorResult select:active, .estimatorResult input:focus, .estimatorResult select:focus{
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

.estimatorResult select{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23ff9900' stroke='%23ff9900' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-position: right 0.2rem center;
}

.estimatorResult .currencySelector{
    width: 64px;
}

.estimatorResult .priceInput{
    /* width 4 digits */
    width: 72px;
}

.estimatorResult .itemSelector{
    width: 200px;
}

.estimatorResult .frequencySelector{
    width: 130px;
}


.no-break{
    display: inline-block;
}

.card.active-order .card-header, .card.active-order .card-footer {
    background-color: #e6f2ff;
}


/* btn copied from static site */
.estimator-share-button:active {
    top: 1px;
    box-shadow: 5px 5px 10px #cccccc;
}
.estimator-share-button:hover {
    opacity: 0.9;
    text-decoration: underline dotted;
    box-shadow: 5px 5px 10px #cccccc;
}

.estimator-share-button {
    font-weight: 600;
    border-radius: 16px;
    padding: 1em 1em;
    margin: 0.5em 0;
    align-items: center;
    justify-content: center;
    background: #44bb44;
    color: white;
    outline: 0;
    transition: 0.3s all;
    text-decoration: none;
    border: 2px solid #369636;
    display: inline-block;
}
/* end */
